.radio
    .radio__male
        .radio__male_unselected
        .radio__male_selected
        .radio__male_text Мужчина
    .radio__female
        .radio__female_unselected
        .radio__female_selected
        .radio__female_text Женщина