@import "../../mixins.scss";

.radio {
  display: flex;

  &__male {
    display: flex;
    align-items: center;

    margin-right: 20px;

    &_unselected {
      width: 20px;
      height: 20px;

      display: none;

      margin-right: 10px;
      box-sizing: border-box;

      background: $WHITE;
      border: 1px solid $DARK_25;
      border-radius: 10px;

      cursor: pointer;
    }
    &_selected {
      width: 20px;
      height: 20px;

      position: relative;
      margin-right: 10px;

      background: $WHITE;
      border: 1px solid $PURPLE;
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;
      &::before {
        content:  "";
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;

        background: linear-gradient(180deg, $PURPLE 0%, #8ba4f9 100%);
        border-radius: 10px;
        cursor: pointer;
      }
    }
    &_text {
        @include Montserrat14Normal;

        color: $DARK_75;
    }
  }

  &__female {
    display: flex;
    align-items: center;
    &_unselected {
      width: 20px;
      height: 20px;

      margin-right: 10px;
      box-sizing: border-box;

      background: $WHITE;
      border: 1px solid $DARK_25;
      border-radius: 10px;

      cursor: pointer;
    }
    &_selected {
      width: 20px;
      height: 20px;

      position: relative;
      display: none;
      margin-right: 10px;

      background: $WHITE;
      border: 1px solid $PURPLE;
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;
      &::before {
        content:  "";
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;

        background: linear-gradient(180deg, $PURPLE 0%, #8ba4f9 100%);
        border-radius: 10px;
        cursor: pointer;
      }
    }
    &_text {
        @include Montserrat14Normal;

        color: $DARK_50;
    }
  }
}