@import "../../mixins.scss";

.liker {
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 40px;
    height: 20px;

    box-sizing: border-box;

    background: $WHITE;
    border: 1px solid $DARK_25;
    border-radius: 10px;

    cursor: pointer;

    &_heart {
      .mdi.mdi-heart-outline {
        font-size: 10px;
        font-weight: 400;
        line-height: 9px;

        display: flex;
        align-items: center;

        text-align: center;

        color: $DARK_25;
      }
    }

    &_count {
      @include Montserrat10Normal;

      color: $DARK_50;
    }
  }
}

.borered {
  border: 1px solid $PURPLE;
}

.count-purple {
  color: $PURPLE;
}

.purple {
  position: relative;
  width: 4px;
  height: 7px;

  &::before,
  &::after {
    content: "";
    width: 4px;
    height: 7px;

    position: absolute;

    border-radius: 50px 50px 0 0;
    background-color: $PURPLE;
  }

  &::before {
    left: 5px;
    top: -1px;

    transform-origin: 0 100%;
    transform: rotate(-45deg);
  }
  &::after {
    top: -1px;

    transform-origin: 100% 100%;
    transform: rotate(45deg);
  }
}
