@import "../../mixins.scss";

.text-field {
  &__input {
    @include Montserrat14Normal;

    width: 320px;

    box-sizing: border-box;
    padding: 13px 0 13px 15px;

    border: 1px solid $DARK_75;
    border-radius: 4px;

    background-color: $WHITE;
    color: $DARK_75;

    &:hover {
      border: 1px solid $DARK_75;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $DARK_25;
    }
  }
}
