<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FSD Task 2 with BEM
        link(rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css")
        script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js")
        script(src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js")
        script(src="../../src/blocks/text_field/text_field.js")
        script(src="../../src/blocks/guests/guests.js")
        script(src="../../src/scripts/jquery.mask.min.js")
        script(src="../../src/blocks/masked_input/masked_input.js")
        script(src="../../src/blocks/preferences/preferences.js")
        script(src="../../src/blocks/radio/radio.js")
        script(src="../../src/blocks/toggle/toggle.js")
        script(src="../../src/blocks/liker/liker.js")
    body
        include ../blocks/text_field/text_field.pug
        include ../blocks/guests/guests.pug
        include ../blocks/masked_input/masked_input.pug
        include ../blocks/preferences/preferences.pug
        include ../blocks/radio/radio.pug
        include ../blocks/toggle/toggle.pug
        include ../blocks/liker/liker.pug