.guests
    .guests__dropdown
        .pseudoselect
            input.pseudoselect_chooser(placeholder="Сколько гостей" value="")
            .pseudoselect_chevron
        .pseudooptions
            .pseudooptions__row
                .pseudooptions__row_text Взрослые
                .pseudooptions__counter
                    .pseudooptions__counter_decrement1(onclick="decreaseFirst()") -
                    span.pseudooptions__counter_count1 0
                    .pseudooptions__counter_increment1(onclick="increaseFirst()") +
            .pseudooptions__row
                .pseudooptions__row_text Дети
                .pseudooptions__counter
                    .pseudooptions__counter_decrement2(onclick="decreaseSecond()") -
                    span.pseudooptions__counter_count2 0
                    .pseudooptions__counter_increment2(onclick="increaseSecond()") +
            .pseudooptions__row
                .pseudooptions__row_text Младенцы
                .pseudooptions__counter
                    .pseudooptions__counter_decrement3(onclick="decreaseThird()") -
                    span.pseudooptions__counter_count3 0
                    .pseudooptions__counter_increment3(onclick="increaseThird()") +
            .pseudooptions__buttons
                button.pseudooptions__buttons_clear(onclick="removeAll()") Очистить
                button.pseudooptions__buttons_apply(onclick="apply()") Применить