@import "../../mixins.scss";

.guests {
  &__dropdown {
    width: 320px;

    .pseudoselect {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 1px solid $DARK_75;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      &_chooser {
        @include Montserrat14Normal;

        padding: 13px 0 13px 15px;

        border: none;
        outline: none;
        border-top-left-radius: 4px;

        color: $DARK_75;

        &::placeholder {
          color: $DARK_25;
        }
      }
      &_chevron {
        width: 40px;

        position: relative;
        top: 0;

        padding: 8px;

        text-align: center;

        transform: rotate(0deg);
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: 21px;
          height: 12%;
          width: 12%;
          background: $DARK_75;
          transform: skew(0deg, 45deg);
        }

        &::after {
          content: "";
          position: absolute;
          top: 7px;
          right: 21px;
          height: 12%;
          width: 12%;
          background: $DARK_75;
          transform: skew(0deg, -45deg);
        }
      }
    }
    .pseudooptions {
      border: 1px solid $DARK_75;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      display: none;

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_text {
          @include Montserrat12Bold;

          padding: 13px 0 13px 15px;

          text-transform: uppercase;
        }
      }
      &__counter {
        display: flex;
        align-items: center;

        &_decrement1 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $WHITE;
          color: $DARK_25;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;
          opacity: 0.5;

          cursor: pointer;
        }
        &_decrement2 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $WHITE;
          color: $DARK_25;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;
          opacity: 0.5;

          cursor: pointer;
        }
        &_decrement3 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $WHITE;
          color: $DARK_25;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;
          opacity: 0.5;

          cursor: pointer;
        }
        &_count1 {
          @include Montserrat12Bold;

          margin: 0 10px;

          text-transform: uppercase;
        }
        &_count2 {
          @include Montserrat12Bold;

          margin: 0 10px;

          text-transform: uppercase;
        }
        &_count3 {
          @include Montserrat12Bold;

          margin: 0 10px;

          text-transform: uppercase;
        }

        &_increment1 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 7px;

          background-color: $WHITE;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;

          cursor: pointer;
        }
        &_increment2 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 7px;

          background-color: $WHITE;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;

          cursor: pointer;
        }
        &_increment3 {
          @include Montserrat18Normal;

          width: 30px;
          height: 30px;

          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 7px;

          background-color: $WHITE;

          border-radius: 50%;
          border: 1px solid $DARK_25;
          color: $DARK_50;

          cursor: pointer;
        }
      }

      &__buttons {
        display: flex;
        justify-content: space-between;

        padding: 20px 0 13px 0;

        &_clear {
          @include Montserrat12Bold;

          visibility: hidden;

          margin-left: 10px;

          border: none;
          outline: none;
          background-color: $WHITE;

          color: $DARK_50;

          text-transform: uppercase;

          cursor: pointer;
        }

        &_apply {
          @include Montserrat12Bold;

          margin-right: 5px;

          border: none;
          outline: none;
          background-color: $WHITE;
          color: $PURPLE;

          text-transform: uppercase;

          cursor: pointer;

        }
      }
    }
  }
}
