.preferences
    .preferences__smoke
        .preferences__smoke_unchecked
        .preferences__smoke_checked
        span.preferences__smoke_text Можно курить
    .preferences__animals
        .preferences__animals_unchecked
        .preferences__animals_checked
        span.preferences__animals_text Можно с питомцами
    .preferences__guests
        .preferences__guests_unchecked
        .preferences__guests_checked
        .persons
            span.persons__meet Можно пригласить гостей
            span.persons__max (до 10 человек)