@import "../../mixins.scss";

.preferences {
  display: flex;
  flex-direction: column;

  &__smoke {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    &_unchecked {
      width: 19px;
      height: 19px;

      margin-right: 10px;

      background-color: $WHITE;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;
    }
    &_checked {
      @include Montserrat14Normal;

      width: 19px;
      height: 19px;

      display: none;

      margin-right: 10px;

      position: relative;
      top: 0;

      text-align: center;

      border: 1px solid #bc9cff;
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 9px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, -45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 8px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, 45deg);
      }
    }
    &_text {
      @include Montserrat14Normal;

      color: $DARK_50;
    }
  }
  &__animals {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    &_unchecked {
      width: 19px;
      height: 19px;

      margin-right: 10px;

      background-color: $WHITE;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;
    }
    &_checked {
      @include Montserrat14Normal;

      width: 19px;
      height: 19px;

      display: none;

      margin-right: 10px;

      position: relative;
      top: 0;

      text-align: center;

      border: 1px solid #bc9cff;
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 9px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, -45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 8px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, 45deg);
      }
    }
    &_text {
      @include Montserrat14Normal;

      color: $DARK_50;
    }
  }
  &__guests {
    display: flex;
    align-items: end;

    &_unchecked {
      width: 19px;
      height: 19px;

      margin-right: 10px;

      background-color: $WHITE;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;
    }
    &_checked {
      @include Montserrat14Normal;

      width: 19px;
      height: 19px;

      display: none;

      margin-right: 10px;

      position: relative;
      top: 0;

      text-align: center;

      border: 1px solid #bc9cff;
      box-sizing: border-box;
      border-radius: 4px;

      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 9px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, -45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 8px;
        height: 12%;
        width: 25%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: skew(0deg, 45deg);
      }
    }
    .persons {
      display: flex;
      flex-direction: column;

      margin-top: 3px;

      &__meet {
        @include Montserrat14Normal;

        color: $DARK_50;
      }
      &__max {
        @include Montserrat14Normal;

        color: $DARK_50;
      }
    }
  }
}
