@import "../../mixins.scss";

.toggle {
    display: flex;

  &__switcher {
    position: relative;
    display: block;
    width: 40px;

    &_slider {
      width: 40px;
      height: 18px;

      position: absolute;
      top: 0;

      background-color: white;
      border: 1px solid grey;
      border-radius: 10px;

      transition: all 0.5s ease-in;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-color: grey;
        border-radius: 10px;
        transition: all 0.5s ease-in;
        top: 3px;
        left: 3px;
      }
    }
    &_input-checkbox {
      display: none;
    }
    &_input-checkbox:checked + &_slider {
      border: 1px solid $PURPLE;

      &::before {
        background-color: $PURPLE;
        transform: translateX(22px);
      }
    }
  }
  &__text {
    @include Montserrat14Normal;

    margin: 2px 0 0 10px;

    color: $DARK_75;
  }
}
