$DARK_100: #1f2041;
$DARK_75: rgba(31, 32, 65, 0.75);
$DARK_50: rgba(31, 32, 65, 0.5);
$DARK_25: rgba(31, 32, 65, 0.25);
$DARK_5: rgba(31, 32, 65, 0.05);
$PURPLE: #bc9cff;
$GREEN: #6fcf97;
$WHITE: #fff;

@mixin Montserrat10Normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

@mixin Montserrat12Bold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

@mixin Montserrat14Normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin Montserrat18Normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
}

@mixin font-face($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+".ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
