@import "../../mixins.scss";

.masked-input {
  &_minput {
    @include Montserrat14Normal;
    line-height: 24px;
    
    width: 320px;

    box-sizing: border-box;
    padding: 13px 0 13px 15px;

    border: 1px solid $DARK_75;
    border-radius: 4px;

    background-color: $WHITE;
    color: $DARK_75;
    text-transform: uppercase;
    outline: none;

    &::placeholder {
      @include Montserrat14Normal;
      line-height: 24px;

      color: $DARK_25;
    }
  }
}
